body {
	background: url(assets/kachel_3.png) repeat;
}

@font-face {
	font-family: "Tablet Gothic Regular";
	src: url("assets/TabletGothicRegular.ttf");
}

#frau_1{
	float: left;
	margin: 0 1.6em 1.2em 0;
}

.img-frau_1{
	width: 300px;
	height: 421px;
	background-image: url(assets/frau_1.jpg);
	background-size: contain;
	margin: 0 1.6em 1.2em 0;
}

.category {
	font-family: "Tablet Gothic Regular";
	font-size: 16px;
	color: white;
	width: 130px;
	margin-top: 50px;
	margin-left: 200px;
	background: #ffd564;	
	border: #ffd564 1px solid;
	border-left: #ffd564 15px solid;
	border-right: #ffd564 15px solid;}

#container {
	
	width: 1024px;
	margin-left: auto;
    margin-right: auto;
    max-width: 28rem;
}

.h2 {
	font-family: "Tablet Gothic Regular";
	line-height: 125%;
	font-size: 22;
}

.credits {
	font-family: "Tablet Gothic Regular";
	line-height: 125%;
	text-align: right;
}

.text {
	font-family: "Tablet Gothic Regular";
	line-height: 145%;
	font-size: 11;
	background: white;	
	border: white 2px solid;
	border-left: white 25px solid;
	border-right: white 25px solid;
	margin: 0 1.6em 1.2em 0;
	/*vertical-align: right;*/


}

.headline {
	margin-top: 100px;
	margin-left: 200px;
}


