body {
	background: url(assets/kachel_3.png) repeat;
}

@font-face {
	font-family: "Tablet Gothic Regular";
	src: url("assets/TabletGothicRegular.ttf");
}


.headline {
	margin-top: 100px;
	margin-left: 200px;
}


.img-frau_1{
	float: left;
	width: 300px;
	height: 421px;
	background-image: url(assets/frau_1.jpg);
	background-size: contain;
	margin: 0 1.6em 2.2em 0;
	margin-left: -200px;
}


figcaption {
	text-align: left;
	margin-top: 431px;
}


#container {
	width: 1024px;
	margin-left: 19rem;
    margin-right: 9rem;
    margin-top: 5rem;
    max-width: 28rem;
}


.category {
	font-family: "Tablet Gothic Regular";
	font-size: 16px;

	color: white;
	
	width: 130px;
	margin-top: 50px;
	margin-left: 200px;
	
	background: #ffd564;	
	border: #ffd564 1px solid;
	border-left: #ffd564 15px solid;
	border-right: #ffd564 15px solid;
}


.text {
	font-family: "Tablet Gothic Regular";
	line-height: 155%;
	font-size: 16px;
	
	background: white;	
	border: white 2px solid;
	border-left: white 25px solid;
	border-right: white 25px solid;
	margin: 0 1.6em 1.2em 0;
}


.h2 {
	font-family: "Tablet Gothic Regular";
	line-height: 125%;
	font-size: 22;
}


.credits {
	font-family: "Tablet Gothic Regular";
	font-size: 12px;
	line-height: 125%;
	text-align: right;
}



